.App {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: lightgray;
}

.loginCard{
  margin-top: 30px !important;
  padding: 15px;
}
.card{
  /* width: 80%; */
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 12px 0.8px gray;
}
.list-group{
  border: 0 !important;
}
.list-group-item{
  border: 0 !important;
}

.form-control:focus{
  box-shadow: 0px 0px 4px 0.8px rgba(96, 96, 252, 0.603) !important;
}

.card-header>span{
  text-transform: capitalize;
  font-weight: 700;
}


